<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      text-align: center;
      min-height: 100vh;
    }
    button {
      border: 0px;
      border-radius: 20px;
      padding: 10px;
      background-color: dodgerblue;
    }
    button:hover {
      box-shadow: 2px 2px 10px dodgerblue;
    }
    button:active {
      transform: scale(0.9);
      transition: 0.4s;
    }
  </style>
</head>
<body>
  <h1>Email Spam Classifier </h1>
  <form method="post" action="/predict">
    <div>
      <textarea name='email-content' placeholder="Enter Email Body" rows="15" cols="55">{{ email_text }}</textarea>
    </div>
    <button >Check Spam</button>
    <a href="/">Reset</a>
  </form>
  <h3>{{ predictions }}</h3>
</body>
</html>